@import "../../../../node_modules/codemirror/lib/codemirror.css";
@import "../../../../node_modules/codemirror/theme/material.css";
@import "../../../../node_modules/codemirror/addon/fold/foldgutter.css";

:root {
    background: #2b3b42;
}
.container {
    display: flex;
    .col {
        flex: 1;
        padding: 10px;
        position: relative;
        .btn-generate {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 1000;
        }
    }
}

.CodeMirror {
    height: 100vh;
    min-height: 500px;
}