<form #form="ngForm">
  <button mat-raised-button type="button" (click)="generate()">Generate</button>
</form>
<div class="container">
  <div class="col">
    <ngx-codemirror [(ngModel)]="jsonText" [options]="codeMirrorConf1"></ngx-codemirror>
  </div>
  <div class="col">
    <ngx-codemirror [ngModel]="schema | json" [options]="codeMirrorConf2"></ngx-codemirror>
  </div>
  <div class="col">
    <ngx-codemirror [ngModel]="sample | json" [options]="codeMirrorConf2"></ngx-codemirror>
  </div>
</div>
