<div class="container">
  <div class="col">
    <button mat-flat-button class="btn-generate" (click)="generate()">Generate</button>
    <ngx-codemirror [(ngModel)]="jsonText" [options]="codeMirrorConf1"></ngx-codemirror>
  </div>
  <div class="col">
    <button mat-flat-button class="btn-generate" (click)="generateFromSchema()">Generate</button>
    <ngx-codemirror [ngModel]="schema | json" (ngModelChange)="updateSchema($event)"
    [options]="codeMirrorConf2"></ngx-codemirror>
  </div>
  <div class="col">
    <ngx-codemirror [ngModel]="sample | json" [options]="codeMirrorConf2"></ngx-codemirror>
  </div>
</div>